@model IEnumerable<Examensarbete.ViewModels.TopicViewModels.TopicViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div style="margin: 20px; width: 200px">
    <div class="panel-group" id="accordion">
        @foreach (var topic in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#@topic.Id" data-toggle="collapse" data-parent="#accordion" style="font-weight: bold">@topic.Id. @topic.Name</a>
                    </h3>
                </div>
                <div id="@topic.Id" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h5>FACTS</h5>
                        <h5>EXERCISES</h5>
                        <h5>EXAMS</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*<script>
    function viewAreas(nr) {
        alert("yes" + nr);
    }
</script>*@