

<div class="sidenav">
    <button class="dropdown-btn">
        Background
        <i class="fa fa-caret-down"></i>
    </button>
    <button class="dropdown-btn">
        Variables
        <i class="fa fa-caret-down"></i>
    </button>
</div>