@model IEnumerable<Examensarbete.ViewModels.TopicViewModels.TopicViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div style="margin: 20px; width: 200px">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" style="font-weight: bold" href="#collapseThree">3. Loops</a>
                </h3>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h5>FACTS</h5>
                    <h5>EXERCISES</h5>
                    <h5>EXAMS</h5>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" style="font-weight: bold" href="#collapseFour">4. Functions</a>
                </h3>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h5>FACTS</h5>
                    <h5>EXERCISES</h5>
                    <h5>EXAMS</h5>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" style="font-weight: bold" href="#collapseFive">5. Design Patterns</a>
                </h3>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h5>FACTS</h5>
                    <h5>EXERCISES</h5>
                    <h5>EXAMS</h5>
                </div>
            </div>
        </div>
        @*@foreach(var topic in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" style="font-weight: bold" href="#collapse">@topic.Id @topic.Name</a>
                    </h3>
                </div>
                <div id="collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @foreach (var area in topic.Areas)
                        {
                            <h4>
                                @area.ToString()
                            </h4>
                        }
                    </div>
                </div>
            </div>
        }*@
    </div>
</div>

@section Scripts {
    <script>
        function openOptions(id) {
            var area = document.getElementById("collapse").textContent = "test";
        }
    </script>
}